@font-face {
  font-family: 'pecita';
  src: url(assets/fonts/pecita/Pecita.otf);
}

section {
  min-height: 100vh;
}

body {
  background-color: #181a18;
  color: #e5e5e5;
  font-family: 'roboto', sans-serif;
}

#cv {
  display: block;
  font-size: 14px;
  color: #fbfaf5;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 15px;
}

#projects {
  padding: 5rem;
}

/* #content {
  padding-top: 0.5rem;
} */

#about {
  padding: 5rem;
}

#contact {
  padding: 5rem;
}
