@font-face {
  font-family: 'pecita';
  src: url(assets/fonts/pecita/Pecita.otf);
}

.navbar-brand {
  font-variation-settings: 'wght', 900, 'ital' 1;
  text-shadow: none;
}

.navbar-brand:hover {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-text-stroke: 1px #e5e5e5;
  font-family: 'Poppins', sans-serif;
  font-variation-settings: 'wght', 100, 'ital' 0;
  font-size: 1.5em;
  color: transparent;
  text-shadow: 4px 4px 0px #f9ac66, 8px 8px 0px #ed6b5b, 10px 10px 5px #e5e5e5e5;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #fca311;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}

section {
  min-height: 100vh;
}

body {
  background-color: #181a18;
  color: #e5e5e5;
  font-family: 'roboto', sans-serif;
}

#cv {
  display: block;
  font-size: 14px;
  color: #fbfaf5;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 15px;
}

#projects {
  padding: 5rem;
}

/* #content {
  padding-top: 0.5rem;
} */

#about {
  padding: 5rem;
}

#contact {
  padding: 5rem;
}
